@using Quiz.DTO.UserManagement
@using System.Globalization;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    GetProfileResponse profile = ViewBag.Profile;
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
}
@model EditUserRequest
<style>
    .form-control:focus {
        box-shadow: none;
        border-color: #00A1DE
    }

    .profile-button {
        background: #00A1DE;
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #00A1DE
        }

        .profile-button:focus {
            background: #00A1DE;
            box-shadow: none
        }

        .profile-button:active {
            background: #00A1DE;
            box-shadow: none
        }

    .back:hover {
        color: #00A1DE;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>
<form asp-action="EditProfile" asp-controller="Account">
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">@profile.Fullname</span>
                <span class="text-black-50">@profile.Email</span>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3 shadow mb-5 rounded col-md-12 bg-four">
                @Html.ActionLink(
                "Xem Bài Thi",
                "GetListTest",
                "UserManagement",
                new {
                    userId = userId
                },
                new { @class = "text-decoration-none w-100 h-100 p-3 text-center"})
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3 shadow mb-5 rounded col-md-12 bg-four">
                @Html.ActionLink(
                "Đổi mật khẩu",
                "ViewChangePassword",
                "Account",
                new {
                    
                },
                new { @class = "text-decoration-none w-100 h-100 p-3 text-center"})
            </div>
        </div>
        <div class="col-md-5 border-right">
                @if (ViewBag.Success != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.Success
                    </div>
                }
                else if (ViewBag.Error != null)
                {
                    <div id="msgAlert" class="alert alert-warning" role="alert">
                        @ViewBag.Error
                    </div>
                }
                <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Thông tin cá nhân</h4>
                </div>
                <div class="row mt-2">
                        @{
                            var id = HttpContextAccessor.HttpContext.Session.GetString("UserId").ToString();
                        }
                        <input type="hidden" value="@id" asp-for="UserId"></input>
                    <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="Full Name" value="@profile.Fullname" asp-for="Fullname" required></div>
                </div>
                <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="enter address" value="@profile.Address" asp-for="Address" required></div>
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value="@profile.Email" asp-for="Email" required></div>
                        <div class="col-md-12"><label class="labels">Birthday</label><input type="text" class="form-control" placeholder="Date of Birth" value="@profile.DoB.ToShortDateString().ToString()" asp-for="DoB" required></div>
                        <div class="col-md-12"><label class="labels">CCCD</label><input type="text" class="form-control" placeholder="CCCD" value="@profile.CCCD" asp-for="CCCD" required></div>
                        <div class="col-md-12"><label class="labels">Số điện thoại</label><input type="text" class="form-control" placeholder="Số điện thoại" value="@profile.PhoneNumber" asp-for="PhoneNumber" required></div>
                        @{
                            CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
                            string money;
                            if (profile.Money == 0)
                            {
                                money = "0";
                            }
                            else
                            {
                                money = long.Parse(profile.Money.ToString()).ToString("#,###", cul.NumberFormat);
                            }
                    }
                        <div class="col-md-9"><label class="labels">Money</label><h5>@money đ</h5></div>
                        <div class="col-md-3">
                            <label class="labels"></label>
                            <h5 style="text-align:right">
                                <a class="btn btn-primary profile-button bg-success" asp-action="Payment" asp-controller="Account">Nạp tiền</a>
                            </h5>
                        </div>
                </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button bg-primary" type="submit">Save Profile</button></div>
            </div>
        </div>
    </div>
</div>
</form>