@using Quiz.DTO.Common
@using Quiz.DTO.SubjectManagement
@model AddTeacherForSubjectRequest
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<GetTeacherItem> listTeacher = ViewBag.ListTeacher;
    List<GetTeacherItem> listTeacherOfSubject = ViewBag.ListTeacherOfSubject;
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Thêm giáo viên giảng dạy</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-action="ListSubjectManagement" asp-controller="SubjectManagement">Danh sách môn học</a></li>
        <li class="breadcrumb-item"><a href="">@ViewBag.SubjectName</a></li>
        <li class="breadcrumb-item active">Thêm giáo viên giảng dạy</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-controller="Subject" asp-action="Index">Xem danh sách</a>
        </div>
        <div class="card-body">
            @if (ViewBag.Error != null)
            {
                <div id="msgAlert" class="alert alert-error" role="alert">
                    @ViewBag.Error
                </div>
            }
            <div class="row col-md-12">
                <form asp-action="AddTeacherForSubject" asp-controller="SubjectManagement">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="@ViewBag.SubjectId" asp-for="SubjectId" />
                    <div class="d-flex justify-content-between">
                        <div class="col-md-5">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Tên Người dùng
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Giới tính
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < listTeacher.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @listTeacher[i].FullName
                                            </td>
                                            <td>
                                                @listTeacher[i].Email
                                            </td>
                                            <td>
                                                @{
                                                    if (@listTeacher[i].Sex is true)
                                                    {
                                                        <span>Nam</span>
                                                    }
                                                    else
                                                    {
                                                        <span>Nữ</span>
                                                    }
                                                }

                                            </td>
                                            <td>
                                                @{
                                                    if (listTeacher.Count > 0)
                                                    {
                                                        var flag = false;
                                                        if (listTeacher[i].UserId == listTeacherOfSubject[0].UserId && listTeacherOfSubject.Count == 1)
                                                        {
                                                            <input type="checkbox" asp-for="User[i].Select" checked />
                                                        }
                                                        else if (listTeacher[i].UserId != listTeacherOfSubject[0].UserId && listTeacherOfSubject.Count == 1)
                                                        {
                                                            <input type="checkbox" asp-for="User[i].Select" />
                                                        }

                                                        if (listTeacherOfSubject.Count > 1)
                                                        {
                                                            for (var k = 0; k < listTeacher.Count; k++)
                                                            {
                                                                if (flag == false && k >= listTeacherOfSubject.Count)
                                                                {
                                                                    <input type="checkbox" asp-for="User[i].Select" />
                                                                }
                                                                if (k >= listTeacherOfSubject.Count)
                                                                {
                                                                    break;
                                                                }
                                                                if (listTeacher[i].UserId == listTeacherOfSubject[k].UserId)
                                                                {
                                                                    <input type="checkbox" asp-for="User[i].Select" checked />
                                                                    flag = true;
                                                                }
                                                            }
                                                            // foreach (var user in listTeacherOfSubject)
                                                            // {
                                                            //     if (listTeacher[i].UserId == user.UserId)
                                                            //     {
                                                            //         <input type="checkbox" asp-for="User[i].Select" checked />
                                                            //     }
                                                            //     else
                                                            //     {
                                                            //         <input type="checkbox" asp-for="User[i].Select" />
                                                            //     }
                                                            // }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" asp-for="User[i].Select" />
                                                    }
                                                    
                                                    
                                                }
                                                
                                                <input type="hidden" asp-for="User[i].UserId" value="@listTeacher[i].UserId">
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group text-center mt-3">
                        <input type="submit" value="Lưu lại" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


