@using Quiz.DTO.BaseResponse;
@using Quiz.DTO.UserManagement;
@model PagedResult<UserStructureItem>
@{
    ViewData["Title"] = "Danh sách người mua";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    var subjectName = ViewData["SubjectName"];
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách người mua</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="SubjectManagement" asp-action="Index">Danh sách môn học</a></li>
        <li class="breadcrumb-item">
            <a asp-controller="SubjectManagement" asp-action="Index"></a>
            @Html.ActionLink(
            subjectName.ToString(),
            "ListTestOfSubjectManagement",
            "SubjectManagement",
            new { subjectId = ViewData["SubjectId"]})
        </li>
        <li class="breadcrumb-item active">Danh sách người mua</li>
    </ol>
    <div class="card mb-4">

        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" name="keyword" class="form-control" value="@ViewBag.Keyword" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" class="btn btn-dark" onclick="window.location.href='Users/Index'">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card mb-4"></div>
        <div class="card-body">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Tên Người dùng
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Ngày mua
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PurchaseDate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>

