@using Quiz.DTO.BaseResponse;
@using Quiz.DTO.Common;

@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<GetTeacherItem> listTeacherOfSubject = ViewBag.ListTeacherOfSubject;
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Danh sách giảng viên</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-action="ListSubjectManagement" asp-controller="SubjectManagement">Danh sách môn học</a></li>
        <li class="breadcrumb-item"><a href="">@ViewBag.SubjectName</a></li>
        <li class="breadcrumb-item active">Danh sách giảng viên</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    @Html.ActionLink(
                    "Thêm giảng viên",
                    "AddTeacherForSubjectManagement",
                    "SubjectManagement",
                    new { subjectId = ViewBag.SubjectId},
                    new { @class = "btn btn-success"})
                </div>
               @*  <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" name="keyword" class="form-control" value="@ViewBag.Keyword" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" class="btn btn-dark" onclick="window.location.href='Users/Index'">Reset</button>
                            </div>
                        </div>
                    </form>
                </div> *@
            </div>
        </div>
        <div class="card-body">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsg
                </div>
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên Người dùng</th>
                        <th scope="col">Email</th>
                        <th scope="col">Giới tính</th>
                    </tr>
                </thead>
                <tbody>
                     @{
                        int i = 1;
                        foreach (var item in listTeacherOfSubject)
                        {
                            <tr>
                                <td>
                                    @{
                                        @Html.DisplayFor(modelItem => i)
                                        ;
                                        i++;
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @{
                                        if (item.Sex is true)
                                        {
                                            <span>Nam</span>
                                        }
                                        else
                                        {
                                            <span>Nữ</span>
                                        }
                                    }

                                </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                            <i class="fa-light fa-ellipsis-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                @Html.ActionLink("Huỷ dạy", "DeleteTeacherOfSubject", "SubjectManagement", new {  userId=item.UserId,  subjectId = ViewBag.SubjectId },new{@class = "dropdown-item"})
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </td>
                            </tr>
                        }
                      }
                </tbody>
            </table>
        </div>
    </div>
</div>

