@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    GetListTestStructureResponse listTestStructure = ViewBag.ListTestStructure;
}
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Quiz.DTO.TestStructureManagement

<!-- Shop Start -->
<div class="container-fluid pt-5">
    <h3 class="cf-title-01">@ViewData["SubjectName"]</h3>
    <div class="row px-xl-5">
        <!-- Shop Product Start -->
        <style>
            @@media (max-width: 767.98px) {
                .border-sm-start-none {
                    border-left: none !important;
                }
            }
        </style>
        <section>
            <div class="container py-5">
                @{
                    foreach (var testStructure in listTestStructure.Results)
                    {
                        <div class="row justify-content-center mb-3">
                            <div class="col-md-12 col-xl-10">
                                <div class="card shadow-0 border rounded-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6 col-xl-9">
                                                <h5>@testStructure.Name</h5>
                                                <p class="text-truncate mb-4 mb-md-0">Thời gian làm bài: @testStructure.Time phút</p>
                                                <p class="text-truncate mb-4 mb-md-0">Số lượng câu hỏi: @testStructure.NumberOfQuestion câu</p>
                                            </div>
                                            <div class="col-md-3 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                                <div class="d-flex flex-row align-items-center mb-1">
                                                    <h4 class="mb-1 me-1">Free</h4>
                                                    <span class="text-danger"><s>$20.99</s></span>
                                                </div>
                                                <h6 class="text-success">Free </h6>
                                                <div class="d-flex flex-column mt-4">
                                                    @{
                                                        var token = HttpContextAccessor.HttpContext.Session.GetString("Token");
                                                        if(token is null)
                                                        {
                                                            
                                                                <a asp-action="Index" asp-controller="Login" class="btn btn-primary btn-sm">Vào thi</a>
                                                            
                                                        }
                                                        else
                                                        {
                                                            @Html.ActionLink(
                                                                "Vào thi",
                                                                "Index",
                                                                "TestSubject",
                                                                new {
                                                                testStructureId = testStructure.TestStructureId
                                                                },
                                                                new { @class = "btn btn-primary btn-sm"})
                                                        }
                                                    }
                                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </section>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->