@model Quiz.DTO.QuestionManagement.GetQuestionResponse
@using Quiz.DTO.ModuleManagement
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
    List<GetListModuleResponse> listModule = ViewBag.ListModule;
    List<string> listDiff = new List<string> { "Easy", "Normal", "Hard" };
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Chỉnh sửa câu hỏi</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="SubjectManagement" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="">Danh sách câu hỏi</a></li>
        <li class="breadcrumb-item"><a href="">@ViewData["SubjectName"]</a></li>
        <li class="breadcrumb-item active">Chỉnh sửa câu hỏi</li>
    </ol>
    @if (TempData["Validation"] != null)
    {
        <div id="msgAlert" class="alert alert-warning" role="alert">
            @TempData["Validation"]
        </div>
    }
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-controller="Question" asp-action="Index">Xem danh sách</a>
        </div>
        <div class="card-body">
            <div class="row col-md-12">
                <form asp-action="EditQuestion" asp-controller="Question">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="@ViewData["QuestionId"]" asp-for="QuestionId" />
                    <input type="hidden" value="@ViewData["SubjectId"]" asp-for="SubjectId" />
                    <div class="d-flex justify-content-between">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="ModuleId" class="control-label">Chương</label>
                                <select class="form-select" asp-for="ModuleId">
                                    @{
                                        <option value="@Model.ModuleId">@Model.ModuleName</option>
                                        foreach (var item in listModule)
                                        {
                                            if (item.ModuleId != Model.ModuleId)
                                            {
                                                <option value="@item.ModuleId">@item.Name</option>
                                            }                                            
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="QuestionText" class="control-label">Câu hỏi</label>
                                <input asp-for="QuestionText" class="form-control" value="@Model.QuestionText"/>
                                <span asp-validation-for="QuestionText" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QuestionA" class="control-label">Câu A</label>
                                <input asp-for="QuestionA" class="form-control" value="@Model.QuestionA" />
                                <span asp-validation-for="QuestionA" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QuestionB" class="control-label">Câu B</label>
                                <input asp-for="QuestionB" class="form-control" value="@Model.QuestionB" />
                                <span asp-validation-for="QuestionB" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QuestionC" class="control-label">Câu C</label>
                                <input asp-for="QuestionC" class="form-control" value="@Model.QuestionC" />
                                <span asp-validation-for="QuestionC" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="QuestionD" class="control-label">Câu D</label>
                                <input asp-for="QuestionD" class="form-control" value="@Model.QuestionD" />
                                <span asp-validation-for="QuestionD" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="control-label">Đáp án đúng: </label>
                                <br />
                                <span class="form-control">@Model.Answer</span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Answer" class="control-label">Chọn lại đáp án đúng</label>
                                <select class="form-select" asp-for="Answer">
                                    <option value="" selected>Chọn đáp án đúng</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="C">C</option>
                                    <option value="D">D</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Difficult" class="control-label">Độ khó</label>
                                <select class="form-select" asp-for="Difficult">
                                    @{
                                        <option value="@Model.Difficult">@Model.Difficult</option>
                                        foreach (var item in listDiff)
                                        {
                                            if (item != Model.Difficult)
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center mt-3">
                        <input type="submit" value="Lưu lại" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


