@using Quiz.DTO.QuestionManagement
@using Quiz.DTO.BaseResponse
@model PagedResult<QuestionItem> 
@{
    ViewData["Title"] = "Danh sách câu hỏi";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid px-4">

    <h1 class="mt-4">Danh sách câu hỏi</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-controller="SubjectManagement" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="">@ViewData["SubjectName"]</a></li>
        <li class="breadcrumb-item active">Danh sách câu hỏi</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    @Html.ActionLink(
                    "Thêm câu hỏi",
                    "Create",
                    "Question",
                    new { subjectId = ViewData["SubjectId"]},
                    new { @class = "btn btn-success"})
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" name="keyword" class="form-control" value="@ViewBag.Keyword" />
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" class="btn btn-dark" onclick="window.location.href='Users/Index'">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card mb-4"></div>
        <div class="card-body">
            @if (TempData["Notify"] != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @TempData["Notify"]
                </div>
            }
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th>
                            Câu hỏi
                        </th>
                        <th>
                            Đáp án
                        </th>
                        <th>
                            Độ khó
                        </th>
                        <th>
                            Chương
                        </th>
                    </tr>
                </thead>
                <tbody>
                     @{
                        int i = 1;
                        foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @{
                                        @Html.DisplayFor(modelItem => i)
                                        ;
                                        i++;
                                    }
                                </td>
                                <td>
                                   @Html.DisplayFor(modelItem => item.QuestionText)
                                </td>
                                <td>
                                   @Html.DisplayFor(modelItem => item.Answer)
                                </td>
                                <td>
                                   @Html.DisplayFor(modelItem => item.Difficult)
                                </td>
                               <td>
                                   @Html.DisplayFor(modelItem => item.ModuleName)
                               </td>
                                <td>
                                    <div class="dropdown">
                                        <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                            <i class="fa-light fa-ellipsis-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                @Html.ActionLink(
                                                    "Chỉnh sửa"
                                                    ,"Edit"
                                                    , new { questionId = item.QuestionId, subjectId = ViewData["SubjectId"] }
                                                    , new { @class = "dropdown-item"})
                                            </li>
                                            <li>
                                                @Html.ActionLink(
                                                    "Xóa",
                                                    "Delete",
                                                    new { id = item.QuestionId, subjectId = ViewData["SubjectId"] },new { @class = "dropdown-item"})
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                     }
                </tbody>
            </table>
        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>

